@model CookBook.Models.Ingredient

@{
    ViewBag.Title = "Details";
}
<body style="background-image:url(http://www.presentationmagazine.com/images3/background-design-orange1024.jpg)">

<h2>Details</h2>

<div>
    <h4 style="font-size:x-large" >Ingredient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="font-size:medium">
            @Html.DisplayNameFor(model => model.IngredientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IngredientName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
</body>